{% extends 'base/base.html' %}
{% load static %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<form action="{% url 'add_a_message' %}" method="post">
				{% csrf_token %}
				{{ m.name_f }}
				<div class="ot"></div>
				{{ m.title_f }}
				<div class="ot"></div>
				{{ m.message_f }}
				<div class="ot"></div>
				<p class="text-right"><input type="submit" value="Submit" class="btn b"></p>
			</form>
		</div>
	</div>
</div>
{% endblock %}